$blue: #008ecf;
$navy: rgb(0, 12, 68);

$alphaBackground: rgba(0, 0, 0, 0.2);

$anchorMenuColor: #FFF;

$greyColor: #3f3f3f;
$greyBorder: #c7c7c7;

$footerBackground: #242424;
$footerColor: #f5f5f5;

$warningBgColor: #ff173e;
$warningColor: #ffffff;

$busStopBgColor: rgba(176, 200, 252, 0.315);

$actionButtonBgColor: #20afc9;
$actionButtonColor: #f7f7f7;
$actionButtonBorderColor: #0030b4;
$actionAnchorColor: #eee;

$contactBgColor: #111111;
$contactColor: #ffffff;

$actionButtonBgColorHover: #008fc7;
$actionButtonBorderColorHover: #003c81;

$actionButtonBgColorHover: #008fc7;
$actionButtonBorderColorHover: #003c81;

$maxWidth: 1260px;

body {
  font-family: 'Source Sans Pro', 'Arial', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

ul li,
ol li {
  display: list-item;
}

button {
  font-family: 'Source Sans Pro', 'Arial', sans-serif;
}

.center {
  text-align: center;
}

strong {
  font-weight: bold;
}

:root {
  font-size: 18px;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

header {
  background-color: #008dcf;
  max-height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
  background-image: url(./../img/zig-blue.png);
}

nav {
  color: #FFF;
  max-width: $maxWidth;
  margin: 0px auto;
  text-transform: uppercase;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

nav a {
  color: #FFF;
  text-decoration: none;
}

nav > ul,
nav > ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav > ul > li > a {
  padding: 10px 6px;
  color: $anchorMenuColor;
  text-decoration: none;
  font-size: .9rem;
  transition: background-color 100ms linear;
  position: relative;
  font-weight: bold;
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}

.iconLink > a {
  font-size: 1.4rem;
  font-weight: normal;
}

main {
  margin-top: 60px;
}

main>div {
  max-width: 1260px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  ;
}

@media screen and (min-width: 1261px) {

  nav > ul > li:not(:last-child) {
    margin-right: 2px;
  }
  
  .navToggleContainer {
    display: none;
  }

  .socialLink {
    margin-left: auto;
  }

  nav>ul>li>a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: $anchorMenuColor;
    transition: width 300ms ease-out;
  }

  nav>ul>li>a:hover::before {
    width: 100%;
  }

  nav>ul>li>a:hover {
    background-color: rgba(7, 0, 110, 0.1);
  }

  .contact {
    flex-direction: row;
  }

  .contact>div {
    align-items: flex-start;
  }

  .quickContactLeft > .quickContactElement {
    margin-right: 100px;
  }

}

.dsNone {
  display: none;
}

.basis100 {
  flex-basis: 100%;
  height: 0;
}

.left,
.right {
  display: flex;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

#warning {
  font-size: .9rem;
  display: none;
  background-color: $warningBgColor;
  color: $warningColor;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  visibility: hidden;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid #ff6600;
  transition: opacity 175ms ease-in-out;
  align-items: center;
}

#warning h4 {
  font-size: .9rem;
  color: #FFF;
}

#warning>a {
  text-decoration: underline;
  color: $warningColor;
  margin: 0 5px;
  font-weight: normal;
}

#hideWarning {
  cursor: pointer;
  font-size: 1.1em;
  transition: color 175ms ease-in;
  margin-left: 10px;
}

#hideWarning:hover {
  color: #e0e0e0;
}

section#contact {
  background-color: $contactBgColor;
  color: $contactColor;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

section#contact>.title {
  text-align: center;
  background-image: url(./../img/zig-dark.png);
}

.contactContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.contact {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  padding: 25px 0px;
}

.contact a {
  color: inherit;
}

.contact a:hover {
  color: #dadada;
}

.contact>div {
  flex: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.contactElement {
  padding: 10px;
  border: 0px;
  font-size: 1rem;
  transition: border 300ms ease-in;
}

.contactElement h1 {
  font-size: 1.1em;
  position: relative;
  margin-bottom: 10px;
}

.contactElement h2 {
  font-size: .95em;
  font-weight: bold;
  color: inherit;
}

.contactElement p {
  font-size: .95em;
}

.routePlannerButton {
  background-color: #FFF;
  border: 1px solid #dadada;
  color: #0044ff;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: .9rem;
  margin-top: 5px;
  border-bottom: 4px solid $blue;
  transition: background-color 175ms ease-in-out, color 175ms ease-in-out;
}

.routePlannerButton:hover {
  color: #00810b;
  border-color: #00be10;
}

.contactMap {
  height: 350px;
  filter: grayscale(90%);
  transition: filter 175ms ease-in-out;
  overflow: hidden;
  justify-content: center;
  background: url(./../img/mapa.png) no-repeat center center;
  background-size: cover;
  width: 100%;
}

.contactMap:hover {
  filter: grayscale(0%);
}

#contact p {
  display: inline;
}

#contact button {
  display: inline;
}

.copyButton {
  cursor: pointer;
  font-size: .7rem;
  padding: 2px 5px;
  margin: 0 5px;
  margin-bottom: 3px;
  text-transform: uppercase;
  border-radius: 0;
  background-color: $actionButtonBgColor;
  color: #FFF;
  border: 2px solid $actionButtonBorderColor;
  font-weight: bold;
  transition: background-color 175ms ease-in-out, border-color 300ms ease-in-out, width 300ms ease-in-out;
  overflow: hidden;
}

.copySuccessful {
  background-color: #00be10;
}

.copyButton:hover {
  border-color: $actionButtonBorderColorHover;
  background-color: #0030b4;
}

.busStop {
  margin-bottom: 5px;
}

.busStop h2 {
  font-size: .9rem;
  font-style: italic;
}

.busStop p {
  font-size: .9rem;
}

.sectionTitle {
  font-weight: bold;
  font-size: 1.8rem !important;
  padding: 5px;
  font-style: normal;
  position: relative;
  margin: 10px 0;
  text-align: center;
}

.sectionTitle::after {
  position: absolute;
  content: '';
  height: 1px;
  bottom: 4px; 
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 150px;
  background: $greyBorder;
}

#quickContact {
  background-color: #303030;
  color: #FFF;
  font-size: 1rem;
  border-top: 4px solid #3f3f3f;
  border-bottom: 4px solid #3f3f3f;
}

#quickContact a,
#quickContact a i {
  color: #FFF;
  text-decoration: none;
  transition: color 175ms ease-in;
}

#quickContact a:hover {
  color: #b3b3b3;
}

#quickContact a:hover i {
  color: #67d4ff;
}

#quickContact > div {
  max-width: $maxWidth;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 15px 10px;
  width: 100%;
  justify-content: space-between;
}

.quickContactElement {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#quickContact h4 {
  font-size: .95em;
  font-weight: bold;
  color: inherit;
}

#quickContact p {
  font-size: .95em;
  color: inherit;
}

.quickContactLeft {
}

#quickContact .quickContactLeft a {
  text-decoration: underline;
}

.quickContactRight {
  justify-content: flex-end;
}

.quickContactRight .quickContactElement {
  flex-direction: row;
}

.quickContactLeft,
.quickContactRight {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.quickContactRight a {
  font-size: .95em;
  padding: 2px;
  margin: 3px;
  transition: color 175 ease-in;
}

$FCol1: #006e6e;
$FCol2: #ff16e0;

.footer {
  border-top: 6px solid #006e6e;
  
  animation: footerBorderAnimation 2s ease-in-out infinite;
  
  @keyframes footerBorderAnimation {
    0%{border-color: $FCol1}
    50%{border-color: $FCol2}
    100%{border-color: $FCol1}
  }
}

.footer .right a,
.footer .left a {
  color: #ffffff;
  transition: color 175ms ease-in-out;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  padding: 5px 0px;
}

.footer .right a::after,
.footer .left a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  background-color: $blue;
  bottom: 0;
  left: 0;
  transition: width 175ms ease-in-out;
}

.footer .right a:hover::after,
.footer .left a:hover::after {
  width: 100%;
}

.footer .right a:hover,
.footer .left a:hover {
  color: #67d4ff;
}

footer>div {
  color: $footerColor;
  font-size: .8rem;
  box-sizing: border-box;
  padding: 15px 20px;
  max-width: $maxWidth;
  margin: 0px auto;
  background-color: $footerBackground;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 140px;
}

footer>*>*>p {
  font-size: inherit;
  text-align: center;
  display: block;
}

.footer>.left {
  align-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}

.footer>.right {
  align-content: flex-end;
}

.footer>p {
  padding: 5px;
}

.btnClassic {
  border: 0px;
  border: 1px solid $actionButtonBorderColor;
  color: $actionButtonColor;
  background-color: $actionButtonBgColor;
}

.seeYouSoon {
  padding: 15px;
  background-color: rgba(0, 49, 39, 0.8);
  border: 4px solid #006e6e;
  color: #f3f3f3;
  max-width: $maxWidth;
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  margin: 10px 15px;
  width: calc(100% - 30px);

  background: linear-gradient(30deg, #00aeff, #002896);
  background-size: 300% 300%;
  
  animation: seeYouSoonAnimation 10s ease infinite;
  
  @keyframes seeYouSoonAnimation {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
  }

}

.seeYouSoon p {
  font-size: 1.1rem;
}

.email {
  text-decoration: underline;
}


@media screen and (max-width: 1260px) {

  .mobileHide {
    display: none;
  }

  .takeMeUp {
    display: none !important;
  }

  #warning {
    flex-direction: column;
  }

  .welcomeScreen {
    margin: 0px 8px;
  }

  .copyButton {
    padding: 10px !important;
  }

  .copyButton:active {
    background-color: #003c81;
  }

  .navToggleLabel {
    width: 40px;
    height: 40px;
    border: 2px solid #FFF;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .spanMobileMain {
    font-size: .8rem;
    text-align: right;
  }

  .navToggleLabel > span {
    display: block;
    background-color: #FFF;
    height: 6px;
    width: 30px;
    position: relative;
  }

  .navToggleLabel > span::before, 
  .navToggleLabel > span::after {
    content: '';
    background-color: #FFF;
    height: 6px;
    width: 30px;
    position: absolute;
  }

  .navToggleLabel > span::before {
    top: -10px;
  }

  .navToggleLabel > span::after {
    bottom: -10px;
  }

  .navToggleLabel:active span,
  .navToggleLabel:active span::before,
  .navToggleLabel:active span::after {
    background-color: #0030b4;
  }

  .navToggle ~ ul {
    max-height: 0px;
    overflow: hidden;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 300ms ease-in;
  }

  .navToggle:checked~ul {
    display: flex;
    max-height: 100%;
    transform: scale(1,1);
  }

  nav {
    position: relative;
    z-index: 9999;
  }

  nav>ul {
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
  }

  nav>ul>li {
    margin: 0;
    width: 100%;
    justify-content: center;
    min-height: 60px;
  }

  nav>ul>li>a {
    flex: 1;
    text-align: center;
    padding: 15px;
  }

  .navToggleLabel>i {
    font-size: 2rem;
    transition: color 200ms ease-in-out;
    color: #FFF;
  }

  .navToggleLabel:active>i {
    color: $actionButtonBorderColorHover;
  }

  .navToggleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    min-height: 60px;
    width: 100%;
  }

  nav>ul>li:nth-child(odd) {
    background-color: #0060af;
  }

  nav>ul>li:nth-child(even) {
    background-color: #001d6d;
  }

  .timeRemainingContainer {
    text-align: center;
  }

  #timeRemaining {
    justify-content: center;
  }

  footer>div {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .footer > .left {
    margin-top: 5px;
  }

  .contact {
    flex-direction: column;
    align-items: center;
  }

  .contact>div {
    align-items: center;
    text-align: center;
  }

  .seeYouSoon {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }

  #quickContact > div,
  .quickContactLeft {
    flex-direction: column;
  }

  .quickContactLeft,
  .quickContactRight {
    align-items: flex-start;
  }

  .quickContactRight {
    justify-content: flex-start;
  }

  .quickContactRight .quickContactElement:last-child {
    margin-bottom: 0;
  }

  .quickContactRight .quickContactElement a:first-child {
    margin-left: 0;
  }

  .quickContactElement {
    margin-bottom: 20px;
  }

  .quickContactRight a {
    font-size: 1.2em;
  }

}

@media screen and (max-width: 1389px) {
  #takeMeUpNav {
    display: none !important;
  }
}

@media screen and (min-width: 1390px) {
  #takeMeUpNav {
    display: flex !important;
  }

  .takeMeUp {
    opacity: 0;
    display: flex;
    width: 40px;
    height: 40px;
    position: fixed;
    top: 10px;
    right: 30px;
    z-index: 9999;
    border-radius: 25px;
    background-color: #FFF;
    border: 2px solid #a0e4ff;
    color: #0030b4;
    text-align: center;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    transition: color 175ms ease-in-out, opacity 175ms ease-in-out;
    cursor: pointer;
  }

  .takeMeUp:hover {
    color: #67d4ff;
  }
}

#fb-root {
  transition: opacity 175 ease-in-out;
}
