body {
  font-family: 'Source Sans Pro', 'Arial', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

button {
  font-family: 'Source Sans Pro', 'Arial', sans-serif;
}

.center {
  text-align: center;
}

strong {
  font-weight: bold;
}

:root {
  font-size: 18px;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

header {
  background-color: #008dcf;
  max-height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
  background-image: url(/img/zig-blue.png);
}

nav {
  max-width: 1260px;
  margin: 0px auto;
  text-transform: uppercase;
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav > ul,
nav > ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav > ul > li > a {
  padding: 10px;
  color: #FFF;
  text-decoration: none;
  font-size: .9rem;
  -webkit-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
  position: relative;
}

.iconLink > a {
  font-size: 1.4rem;
}

main {
  margin-top: 60px;
}

/* main > div:first-child {
  min-height: calc(100vh - 60px);
  //background-image: url(/img/background.png);
} */
main > div {
  max-width: 1260px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1261px) {
  nav > ul > li:not(:last-child) {
    margin-right: 2px;
  }
  .navToggleContainer {
    display: none;
  }
  .socialLink {
    margin-left: auto;
  }
  nav > ul > li:not(:last-child) > a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #FFF;
    -webkit-transition: width 300ms ease-out;
    transition: width 300ms ease-out;
  }
  nav > ul > li:not(:last-child) > a:hover::before {
    width: 100%;
  }
  .contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact > div {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (max-width: 1260px) {
  #contactEmails button {
    padding: 10px !important;
  }
  #contactEmails button:active {
    background-color: #003c81;
  }
  .navToggle ~ ul {
    max-height: 0px;
    overflow: hidden;
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transition: -webkit-transform 300ms ease-in;
    transition: -webkit-transform 300ms ease-in;
    transition: transform 300ms ease-in;
    transition: transform 300ms ease-in, -webkit-transform 300ms ease-in;
  }
  .navToggle:checked ~ ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-height: 100%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  nav {
    position: relative;
    z-index: 9999;
  }
  nav > ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  nav > ul > li {
    margin: 0;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 60px;
  }
  nav > ul > li > a {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
    padding: 15px;
  }
  .navToggleLabel > i {
    font-size: 2rem;
    -webkit-transition: color 200ms ease-in-out;
    transition: color 200ms ease-in-out;
    color: #FFF;
  }
  .navToggleLabel:active > i {
    color: #003c81;
  }
  .navToggleContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
    min-height: 60px;
    width: 100%;
  }
  nav > ul > li:nth-child(odd) {
    background-color: #0060af;
  }
  nav > ul > li:nth-child(even) {
    background-color: #001d6d;
  }
  .timeRemainingContainer {
    text-align: center;
  }
  #timeRemaining {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact > div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.dsNone {
  display: none;
}

.basis100 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 0;
}

.left,
.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

#warning {
  font-size: .9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ff173e;
  color: #ffffff;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  visibility: hidden;
}

#warning h4 {
  font-size: .9rem;
  color: #FFF;
}

#warning > a {
  text-decoration: underline;
  color: #ffffff;
  margin: 0 5px;
  font-weight: normal;
}

section#contact {
  background-color: #111111;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

section#contact > .title {
  text-align: center;
  background-image: url(/img/zig-dark.png);
}

.contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact > div {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contactElement {
  padding: 10px;
  border: 0px;
  font-size: 1rem;
  -webkit-transition: border 300ms ease-in;
  transition: border 300ms ease-in;
}

.contactElement h1 {
  font-size: .9em;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}

.contactElement p {
  font-size: .9em;
}

.contactMap {
  max-height: 350px;
  -webkit-filter: grayscale(90%);
          filter: grayscale(90%);
  -webkit-transition: -webkit-filter 175ms ease-in-out;
  transition: -webkit-filter 175ms ease-in-out;
  transition: filter 175ms ease-in-out;
  transition: filter 175ms ease-in-out, -webkit-filter 175ms ease-in-out;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contactMap > img {
  width: 100%;
}

.contactMap:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

#contact p {
  display: inline;
}

#contact button {
  display: inline;
}

#contactEmails button {
  cursor: pointer;
  font-size: .7rem;
  padding: 0 5px;
  margin: 0 5px;
  text-transform: uppercase;
  border-radius: 0;
  background-color: #20afc9;
  color: #eee;
  border: 2px solid #0030b4;
  font-weight: bold;
  -webkit-transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out;
}

#contactEmails button:hover {
  background-color: #008fc7;
  border-color: #003c81;
}

.busStop {
  margin-bottom: 5px;
}

.busStop h2 {
  font-size: .9rem;
  font-style: italic;
}

.busStop p {
  font-size: .8rem;
}

section .title h1,
.aboutUsInMediaContainer > .title h1 {
  font-weight: bold;
  font-size: 1.8rem;
  padding: 5px;
  font-style: normal;
  position: relative;
  margin: 10px 0;
  text-align: center;
}

section .title h1::after,
.aboutUsInMediaContainer .title h1::after {
  position: absolute;
  content: '';
  height: 2px;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 50px;
  background: #c7c7c7;
  -webkit-transition: width 170ms ease-in-out;
  transition: width 170ms ease-in-out;
}

footer a {
  color: #0030b4;
  -webkit-transition: color 175ms ease-in-out;
  transition: color 175ms ease-in-out;
}

footer a:hover {
  color: #001d6d;
}

footer > div {
  color: #3d3d3d;
  font-size: .8rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  max-width: 1260px;
  margin: 0px auto;
  background-color: #e0e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 140px;
}

footer > * > * > p {
  font-size: inherit;
  text-align: center;
  display: block;
}

.footer > .left {
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer > .right {
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.footer > p {
  padding: 5px;
}

.btnClassic {
  border: 0px;
  border: 1px solid #0030b4;
  color: #f7f7f7;
  background-color: #20afc9;
}
/*# sourceMappingURL=global.css.map */