$blue: #008ecf;
$navy: rgb(0, 12, 68);

$alphaBackground: rgba(0,0,0,0.2);

$anchorMenuColor: #FFF;

$footerBackground: #e0e0e0;
$footerColor: #3d3d3d;

$warningBgColor: rgb(155, 0, 0);
$warningColor: #eee;

$busStopBgColor: rgba(176, 200, 252, 0.315);

$actionButtonBgColor: #20afc9;
$actionButtonColor: #f7f7f7;
$actionButtonBorderColor: #0030b4;
$actionAnchorColor: #eee;

$actionButtonBgColorHover: #008fc7;
$actionButtonBorderColorHover: #003c81;

$maxWidth: 1260px;

body {
  font-family: 'Istok Web', 'Arial', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

button {
  font-family: 'Istok Web', 'Arial', sans-serif;
}

:root {
  font-size: 18px;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

header {
  background-color: #008ecf;
  max-height: 80px;
}

nav {
  max-width: $maxWidth;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr;
  text-transform: uppercase;
  min-height: 60px;
}

nav > ul,
nav > ul > li {
  display: flex;
  align-items: center;
  margin: 2px;
}

nav > ul > li > a {
  padding: 5px;
  color: $anchorMenuColor;
  text-decoration: none;
  font-size: .9rem;
}

nav > ul > li > a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transition: 100ms linear;
}

main > div:first-child {
  min-height: calc(100vh - 60px);
}

main > div {
  max-width: 1260px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;;
}

.basis100 {
  flex-basis: 100%;
  height: 0;
}

.left,
.right {
  display: flex;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

#warning {
  font-size: .9rem;
  display: flex;
  background-color: $warningBgColor;
  color: $warningColor;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

#warning > a {
  text-decoration: underline;
  color: $warningColor;
  margin: 0 5px;
  font-weight: normal;
}

#contact > .left {
  display: flex;
  flex-direction: column;
  flex: 7;
  flex-wrap: wrap;
}

#contact > .right {
  flex: 3;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  text-align: left;
}

#contactInfo h1 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

#contactInfo p {
  font-size: 1rem;
}

#contactInfo p:last-child {
  margin-bottom: 10px;
}

#contactEmails li {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

#contactEmails button {
  font-size: .7rem;
  padding: 0 5px;
  margin: 0 5px;
  text-transform: uppercase;
  border-radius: 0;
  background-color: $actionButtonBgColor;
  color: $actionAnchorColor;
  border: 2px solid $actionButtonBorderColor;
  font-weight: bold;
  transition: 300ms linear;
}

#contactEmails button:hover {
  background-color: $actionButtonBgColorHover;
  border-color: $actionButtonBorderColorHover;
}

.busStop {
  margin-bottom: 5px;
  padding: 5px;
  background-color: $busStopBgColor;
}

.busStop h2 {
  font-size: .9rem;
  font-style: italic;
}

.busStop p {
  font-size: .8rem;
}

footer > div {
  color: $footerColor;
  font-size: .8rem;
  box-sizing: border-box;
  padding: 5px;
  max-width: $maxWidth;
  margin: 0px auto;
  background-color: $footerBackground;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer > * > * > p {
  font-size: inherit;
  text-align: center;
}

.footer > .left {
  align-content: flex-start;
}

.footer > .right {
  align-content: flex-end;
}

.footer > p {
  padding: 5px;
}
