body {
  background-color: #000c44;
  color: #FFF;
}

section#winners,
section#aboutConference,
section#partners,
section#contact,
section#scientificBoard,
section#aboutUsInMedia,
section#organiser,
section#quickContact {
  overflow: hidden;
  margin-bottom: 20px;
}

.numbersSplitter {
  display: none;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media screen and (max-width: 399px) {
  .numbersSplitter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.welcomeMessage {
  text-align: left;
  padding: 25px 30px;
}

.welcomeMessage h1 {
  font-size: 1.6rem;
  font-weight: bold;
}

#timeRemainingContainer {
  visibility: hidden;
  opacity: 0;
}

.timeRemainingContainer {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: .8rem;
  padding: 15px 30px;
  margin-bottom: 10px;
  color: #e0e0e0;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  position: relative;
}

.timeRemainingContainer > h1 {
  font-size: 2em;
}

.timeRemainingContainer a {
  color: #FFF;
  -webkit-transition: color 175ms ease-in-out;
  transition: color 175ms ease-in-out;
}

.timeRemainingContainer a:hover {
  color: #008ecf;
}

.rNum {
  font-size: 2.6rem;
  margin: 5px;
  color: #00eeff;
}

.rNum:first-child {
  margin-left: 0;
}

#timeRemaining:first-child {
  margin-left: 0;
}

.timeRemainingContainer > p {
  font-size: 1em;
}

#timeRemaining {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: first baseline;
      -ms-flex-align: first baseline;
          align-items: first baseline;
}

.numElements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.numElement {
  border: 1px solid #c7c7c7;
  border-bottom: 4px solid #262ca1;
  margin: 5px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.numElement:hover {
  background-color: #e7e7e7;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.numElement > .number {
  font-size: 50px;
  color: #002a61;
  font-weight: bold;
  -webkit-transition: color 175ms ease-in;
  transition: color 175ms ease-in;
}

.numElement > .highlightNumber {
  font-size: 50px;
  color: #0059ff;
  font-weight: bold;
}

.numElement > .number:hover {
  -webkit-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

.numElement > .inNumbersTitle {
  text-transform: uppercase;
  font-size: .9rem;
}

#conferenceInNumbers {
  color: #3f3f3f;
  background-color: #FFF;
  text-align: center;
  max-width: 1260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.welcomeScreen {
  min-height: calc(100vh - 40px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(/img/background.png) no-repeat center center fixed;
  background-size: cover;
  padding-bottom: 20px;
}

#welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 1260px;
  width: 100%;
}

#welcome .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

#welcome > div {
  max-width: 1260px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.welcomeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.categoriesInfoContainer {
  font-size: 1rem;
  color: #98c0ff;
  padding: 15px 30px;
  margin-bottom: 10px;
}

.categoriesInfoContainer > h1 {
  font-size: .95em;
  line-height: 1.2;
  margin-bottom: 10px;
}

.categoriesInfoContainer > ul {
  font-size: .95em;
  list-style: inside circle;
}

#welcome .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.competeActionButtonSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.competeActionButtons span {
  padding: 5px;
}

.competeActionButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.competeActionButtonSectionSpan {
  padding: 5px 20px;
}

.competeActionContainer {
  padding: 25px 20px;
  background-color: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.competeActionContainer h1 {
  font-size: 40px;
}

.competeActionContainer button {
  min-width: 240px;
  padding: 20px 40px;
  background-color: #20afc9;
  color: #f7f7f7;
  border: 4px solid #0030b4;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  -webkit-transition: background-color 170ms ease-in-out, border-color 170ms ease-in-out, background-image 170ms ease-in-out;
  transition: background-color 170ms ease-in-out, border-color 170ms ease-in-out, background-image 170ms ease-in-out;
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  background-image: url(/img/zig-blue.png);
  background: -webkit-gradient(linear, left top, left bottom, from(#008ecf), to(#ff16e0));
  background: linear-gradient(180deg, #008ecf, #ff16e0);
  background-size: 400% 400%;
  -webkit-animation: seeYouSoonAnimation 6s ease-in-out infinite;
          animation: seeYouSoonAnimation 6s ease-in-out infinite;
}

@-webkit-keyframes seeYouSoonAnimation {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}

@keyframes seeYouSoonAnimation {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}

.competeActionContainer button:hover {
  background-color: #008fc7;
  border-color: #003c81;
  background-image: none;
  color: #e9fcff;
}

.competeActionContainer > a {
  color: #eee;
  font-size: 1rem;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
  padding: 2px 0px 5px;
}

.competeActionContainer > a:hover {
  color: #e9fcff;
}

#aboutConference {
  background-color: #FFF;
  color: #3f3f3f;
  text-align: center;
  padding: 60px 0px;
}

#aboutConference .title:not(:first-child) {
  margin-top: 60px;
}

#aboutConference .title h1 {
  position: relative;
}

/* #aboutConference .title h1::after {
    content: '';
    width: 150px;
    height: 1px;
    background-color: $blue;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
} */
#aboutConference p {
  padding: 10px;
  font-size: 1.2rem;
}

#aboutConference > div {
  max-width: 1260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px auto;
  text-align: center;
}

.aboutUsWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#organiser {
  background: #370153;
  background: linear-gradient(130deg, #005b80 0%, #0000a1 52%, #008cff 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#scientificBoard {
  background: #370153;
  background: linear-gradient(130deg, #370153 0%, #0000a1 52%, #00d4ff 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#scientificBoard .personTitle {
  font-style: italic;
  font-size: .8em;
}

.board .name {
  position: relative;
}

.person .name:after {
  position: absolute;
  content: '';
  height: 2px;
  bottom: -2px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 50px;
  background: #008ecf;
  -webkit-transition: width 350ms ease-in;
  transition: width 350ms ease-in;
}

.person:hover p.name:after {
  width: 100%;
}

.academy {
  margin-top: 10px;
  font-size: .7em;
  text-transform: uppercase;
  font-weight: bold;
}

.board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(100% / 6 - 20px);
          flex: 1 0 calc(100% / 6 - 20px);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 10px;
  padding: 10px;
  background-color: rgba(0, 23, 65, 0.8);
  border: 2px solid #008ecf;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
  min-height: 140px;
}

section#aboutUsInMedia {
  background-color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #585858;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutUsInMediaContainer > .title {
  text-align: center;
}

.aboutUsInMediaContainer {
  max-width: 1260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.aboutIMElements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.aboutIMElementAnchor {
  position: relative;
  background-color: #FFF;
  color: #858585;
  z-index: 1;
  padding: 15px;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0px 50px 30px;
  min-height: 350px;
  min-width: 200px;
  max-width: 240px;
  text-decoration: none;
}

.aboutIMElementAnchor:nth-child(odd) {
  background-color: #FFE53B;
  background-image: linear-gradient(210deg, #667eea 0%, #764ba2 100%);
}

.aboutIMElementAnchor:nth-child(even) {
  background-color: #4158D0;
  background-image: linear-gradient(210deg, #4facfe 0%, #00f2fe 100%);
}

.aboutIMElement h2 {
  font-weight: bold;
  font-size: 1.1rem;
  padding: 5px;
  color: #FFF;
  position: relative;
  z-index: 2;
  -webkit-transition: color 175ms ease-out;
  transition: color 175ms ease-out;
}

.aboutIMElement p {
  position: relative;
  z-index: 1;
  font-size: .9rem;
  padding: 5px;
  color: #eeeeee;
  -webkit-transition: color 175ms ease-out;
  transition: color 175ms ease-out;
}

.aboutIMElement button {
  position: absolute;
  bottom: 15px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding: 5px 15px;
  border-radius: 100px;
  text-transform: uppercase;
  font-size: 1rem;
  border: 1px solid #FFF;
  color: #FFF;
  -webkit-transition: background-color 175ms ease-in-out, border-color 175ms ease-in, color 175ms ease-in, background-image 175ms ease-in;
  transition: background-color 175ms ease-in-out, border-color 175ms ease-in, color 175ms ease-in, background-image 175ms ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #2f81b8 0%, #262ca1 100%);
}

.aboutIMElement button h2 {
  -webkit-transition: color 175ms ease-in-out, text-shadow 175ms ease-in-out;
  transition: color 175ms ease-in-out, text-shadow 175ms ease-in-out;
}

.aboutIMElement button:hover h2 {
  color: #ececec;
  text-shadow: 0px 0px 6px #3f4475;
}

.aboutIMElementAnchor:hover button.more {
  background-color: #008ecf;
  border-color: #FFF;
  color: #FFF;
  background-image: none;
}

.aboutIMElementAnchor:hover p,
.aboutIMElementAnchor:hover .title {
  color: #7cdaff;
}

.aboutIMElement button i {
  font-size: .7em;
  margin-left: 8px;
}

.aboutIMElement img {
  z-index: -1;
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: calc(100% + 4px);
  min-width: calc(100% + 4px);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-filter 175ms ease-in-out;
  transition: -webkit-filter 175ms ease-in-out;
  transition: filter 175ms ease-in-out;
  transition: filter 175ms ease-in-out, -webkit-filter 175ms ease-in-out;
}

a:hover > .aboutIMElement > img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

section#partners {
  color: #3f3f3f;
  background-color: #FFF;
}

section#partners > .title {
  text-align: center;
}

section#partners h2 {
  text-align: center;
  font-size: .9rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
  -webkit-transition: color 200ms ease-out;
  transition: color 200ms ease-out;
}

ul.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 20px 0;
}

ul.partners::after {
  content: '';
  position: absolute;
  width: 300px;
  height: 2px;
  background-color: #004299;
  left: 0;
  right: 0;
  margin: 0px auto;
  bottom: 5px;
}

ul.partners > li {
  margin: 10px;
  height: 120px;
  background-color: #FFF;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 250px;
          flex: 0 0 250px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 175ms ease-in, -webkit-filter 175ms ease-in-out, -webkit-transform 175ms ease-in-out;
  transition: opacity 175ms ease-in, -webkit-filter 175ms ease-in-out, -webkit-transform 175ms ease-in-out;
  transition: filter 175ms ease-in-out, opacity 175ms ease-in, transform 175ms ease-in-out;
  transition: filter 175ms ease-in-out, opacity 175ms ease-in, transform 175ms ease-in-out, -webkit-filter 175ms ease-in-out, -webkit-transform 175ms ease-in-out;
  -webkit-filter: grayscale(90%);
          filter: grayscale(90%);
  opacity: .6;
}

ul.partners > li::-moz-selection,
ul.partners > li img::-moz-selection,
ul.partners > li::-moz-selection,
ul.partners > li img::-moz-selection {
  background: none;
}

ul.partners > li::selection,
ul.partners > li img::selection,
ul.partners > li::-moz-selection,
ul.partners > li img::-moz-selection {
  background: none;
}

.partnersSection:hover > h2 {
  color: #004299;
}

ul.partners > li > img {
  max-width: 100%;
  max-height: 100%;
}

ul.partners > li:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  opacity: 1;
}

h1.conferenceState {
  color: #00eeff;
}

p.conferenceState {
  font-size: 1rem;
}

.timeRemainingToParticipate {
  font-size: .75em;
  color: #d4d4d4;
}

.timeRemainingToParticipate .dateRemaining {
  text-decoration: underline;
}

#winners {
  background-color: #002a61;
  background: url(/img/zig-dark.png);
}

.winnersYearSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.prizes {
  padding: 20px;
  color: #FFF;
  background-color: #002a61;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.prizesSub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.prize {
  margin: 15px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 50px;
  background-color: rgba(68, 143, 212, 0.3);
  border-bottom: 4px solid #008ecf;
}

.yearSectionTitle {
  color: #2f81b8;
  font-weight: bold;
  text-shadow: 0px 0px 30px rgba(0, 195, 255, 0.3);
  text-align: center;
}

.prizesSubtitle {
  margin-top: 50px;
  text-align: center;
}

.prizeValue {
  color: #00eeff;
  font-size: .8rem;
}

.prizePlace {
  padding: 5px;
  color: #e7e7e7;
  font-size: .8rem;
}

@media screen and (min-width: 1261px) {
  #welcome {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .yearSectionTitle {
    font-size: 100px;
    position: relative;
    z-index: 2;
  }
  .prizes {
    position: relative;
    top: -55px;
    left: 0;
    right: 0;
  }
}

@media screen and (max-width: 1260px) {
  #welcome,
  .welcomeContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .timeRemainingContainer,
  .conferenceIsNowContainer,
  .timeUpContainer {
    padding: 15px 0px;
  }
  .yearSectionTitle {
    margin-top: 30px;
    font-size: 3rem;
    background-color: rgba(0, 119, 255, 0.3);
  }
  .prizesSubtitle {
    margin-top: 5px;
  }
}
/*# sourceMappingURL=homepage.css.map */