$blue: #008ecf;
$navy: rgb(0, 12, 68);

$anchorMenuColor: #FFF;

$rNumColor: rgb(0, 238, 255);

$greyColor: #3f3f3f;
$greyBorder: #c7c7c7;

$numberColor: #002a61;
$numberHoverColor: #004299;

$numElementHoverBgColor: #e7e7e7;

$footerBackground: #2e1a1a;

$maxWidth: 1260px;

$actionButtonBgColor: #20afc9;
$actionButtonColor: #f7f7f7;
$actionButtonBorderColor: #0030b4;
$actionAnchorColor: #eee;
$actionAnchorColorHover: #FFF;

$actionButtonBgColorHover: #008fc7;
$actionButtonBorderColorHover: #003c81;

$alphaBackground: rgba(0,0,0,0.2);
$contactBgColor: #FFF;
$contactColor: #2e1a1a;

$IMElBgColor: #FFF;
$IMElColor: #858585;
$IMElBorderColor: #8d8d8d;
$IMElHColor: #02005c;
$IMElPColor: #5e5e5e;

body {
    background-color: $navy;
    color: #FFF;
}

section#partners,
section#contact,
section#scientificBoard,
section#aboutUsInMedia {
    margin-top: 20px;
}

.timeRemainingContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: .8rem;
    padding: 15px 30px;
    margin-bottom: 10px;
}

.timeRemainingContainer > h1 {
    font-size: 1.2em;
}

.rNum {
    font-size: 2.6rem;
    margin: 5px;
    color: $rNumColor;
}

.rNum:first-child {
    margin-left: 0;
}

#timeRemaining:first-child {
    margin-left: 0;
}

.timeRemainingContainer > p {
    font-size: 1em;
}

#timeRemaining {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: first baseline;
}

.numElements {
    display: flex;
    flex-wrap: wrap;
}

.numElement {
    border: 1px solid $greyBorder;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
    flex-wrap: wrap;
}

.numElement:hover {
    background-color: $numElementHoverBgColor;
    transition: background-color 200ms linear;
}

.numElement > .number {
    font-size: 50px;
    color: $numberColor;
    font-weight: bold;
}

.numElement > .number:hover {
    color: $numberHoverColor;
    transition: background-color 300ms linear;
}

.numElement > .inNumbersTitle {
    text-transform: uppercase;
    font-size: .9rem;
}

#conferenceInNumbers {
    color: $greyColor;
    width: 100%;
    background-color: #FFF;
    text-align: center;
}

#welcome {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#welcome > .left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 6;
}

.categoriesInfoContainer {
    font-size: 1rem;
    background-color: $alphaBackground;
    padding: 15px 30px;
    margin-bottom: 10px;
}

.categoriesInfoContainer > h1 {
    font-size: 1.2em;
    line-height: 1.2;
    margin-bottom: 10px;
}

.categoriesInfoContainer > ul {
    font-size: .8em;
    list-style-type: disclosure-closed;
}

#welcome > .right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 8;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.competeActionContainer {
    padding: 25px 60px;
    background-color: $alphaBackground;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.competeActionContainer > button {
    padding: 25px 60px;
    background-color: $actionButtonBgColor;
    color: $actionButtonColor;
    border: 4px solid $actionButtonBorderColor;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4rem;
    transition: background-color 170ms ease-in-out, border-color 170ms ease-in-out;
    text-shadow: 0px 3px 5px rgba(0,0,0,0.5);
}

.competeActionContainer > button:hover {
    background-color: $actionButtonBgColorHover;
    border-color: $actionButtonBorderColorHover;
}

.competeActionContainer > a {
    color: $actionAnchorColor;
    font-size: 1rem;
    transition: color 200ms ease-in-out;
}

.competeActionContainer > a:hover {
    color: $actionAnchorColorHover;
}

#scientificBoard {
    background: rgb(55,1,83);
    background: linear-gradient(130deg, rgba(55,1,83,1) 0%, rgba(0,0,161,1) 52%, rgba(0,212,255,1) 100%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

#scientificBoard .personTitle {
    font-style: italic;
    font-size: .8em;
}

#scientificBoard .name {
    position: relative;
}

.person .name:after {
    position: absolute;
    content: '';
    height: 2px;
    bottom: -2px; 
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 50px;
    background: $blue;
    transition: transform 350ms ease-in;
}

.person:hover p.name:after {
    transform: scaleX(2.6);

}

#scientificBoard .academy {
    margin-top: 10px;
    font-size: .7em;
    text-transform: uppercase;
    font-weight: bold;;
}

#mainBoard,
#primeBoard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.person {
    display: flex;
    flex: 0 0 calc(100% / 6 - 20px);
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 23, 65, 0.8);
    border: 2px solid $blue;
    justify-content: center;
    transition: transform 400ms ease-in-out;
}

.person:hover {
    transform: scale(1.06);
    
}

section#aboutUsInMedia {
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

section#aboutUsInMedia > .title {
    text-align: center;
}

.aboutIMElements {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.aboutIMElement {
    position: relative;
    margin: 5px;
    min-height: 150px;
    flex: 1;
    background-color: $IMElBgColor;
    color: $IMElColor;
    border: 1px solid $IMElBorderColor;
    z-index: 1;
}

.aboutIMElement > h2 {
    background-color: $alphaBackground;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 5px;
    color: $IMElHColor;
}

.aboutIMElement > p {
    font-size: .9rem;
    padding: 5px;
    color: $IMElPColor;
}

.aboutIMElement > img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    min-height: 150px;
    width: 150px;
    z-index: 2;
}

.aboutIMElement > button {
    font-size: .8rem;
    position: absolute;
    bottom: 20px;
    right: 80px;
    z-index: 3;
    text-transform: uppercase;
    padding: 5px;
}

section#partners {
    background-color: #FFF;
    color: #3f3f3f;
}

section#partners > .title {
    text-align: center;
}

section#partners h2 {
    text-align: center;
    font-size: .9rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    transition: color 200ms ease-out;
}

ul.partners {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px 0;
}

ul.partners::after {
    content: '';
    position: absolute;
    width: 300px;
    height: 2px;
    background-color: $numberHoverColor;
    left: 0;
    right: 0;
    margin: 0px auto;
    bottom: 5px;
}

ul.partners > li {
    margin: 10px;
    height: 120px;
    /*min-width: 200px;
    max-width: 250px; */
    background-color: #FFF;
    flex: 0 0 250px;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: filter 175ms ease-in, opacity 175ms ease-in;
    filter: grayscale(90%);
    opacity: .6;
}

ul.partners > li::selection,
ul.partners > li img::selection,
ul.partners > li::-moz-selection,
ul.partners > li img::-moz-selection {
    background: none;
}

.partnersSection:hover > h2 {
    color: $numberHoverColor;
}

ul.partners > li > img {
    max-width: 100%;
    max-height: 100%;
}

ul.partners > li:hover {
    filter: grayscale(0%);
    opacity: 1;
}

