body {
  background-color: #000c44;
  color: #FFF;
}

section#contact {
  margin-top: 20px;
}

.timeRemainingContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: .8rem;
  padding: 15px 30px;
  margin-bottom: 10px;
}

.timeRemainingContainer > h1 {
  font-size: 1.2em;
}

.rNum {
  font-size: 2.6rem;
  margin: 5px;
  color: #00eeff;
}

.rNum:first-child {
  margin-left: 0;
}

#timeRemaining:first-child {
  margin-left: 0;
}

.timeRemainingContainer > p {
  font-size: 1em;
}

#timeRemaining {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: first baseline;
      -ms-flex-align: first baseline;
          align-items: first baseline;
}

.numElements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.numElement {
  border: 1px solid #c7c7c7;
  margin: 5px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.numElement:hover {
  background-color: #e7e7e7;
  -webkit-transition: 200ms linear;
  transition: 200ms linear;
}

.numElement > .number {
  font-size: 50px;
  color: #002a61;
  font-weight: bold;
}

.numElement > .number:hover {
  color: #004299;
  -webkit-transition: 300ms linear;
  transition: 300ms linear;
}

.numElement > .title {
  text-transform: uppercase;
  font-size: .9rem;
}

#conferenceInNumbers {
  color: #3f3f3f;
  width: 100%;
  background-color: #FFF;
  text-align: center;
}

#welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#welcome > .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

.categoriesInfoContainer {
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px 30px;
  margin-bottom: 10px;
}

.categoriesInfoContainer > h1 {
  font-size: 1.2em;
  line-height: 1.2;
  margin-bottom: 10px;
}

.categoriesInfoContainer > ul {
  font-size: .8em;
  list-style-type: disclosure-closed;
}

#welcome > .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.competeActionContainer {
  padding: 25px 60px;
  background-color: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.competeActionContainer > button {
  padding: 25px 60px;
  background-color: #20afc9;
  color: #f7f7f7;
  border: 4px solid #0030b4;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1rem;
}

.competeActionContainer > a {
  color: #eee;
  font-size: .8rem;
}

#contact {
  background-color: #FFF;
  color: #2e1a1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title h1 {
  font-weight: bold;
  font-size: 1.8rem;
  padding: 5px;
}

#contact > .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#contact > .right {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

#contactInfo h1 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

#contactInfo p {
  font-size: 1rem;
}

#contactEmails li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#contactEmails button {
  font-size: .7rem;
  padding: 1px;
  margin: 0 5px;
  text-transform: uppercase;
  border-radius: 0;
}
/*# sourceMappingURL=homepage.css.map */