body {
  background-color: #000c44;
  color: #FFF;
}

section#aboutConference,
section#partners,
section#contact,
section#scientificBoard,
section#aboutUsInMedia {
  overflow: hidden;
  margin-bottom: 20px;
}

.welcomeMessage {
  text-align: left;
  padding: 15px 30px;
}

.welcomeMessage h1 {
  font-size: 1.6rem;
  font-weight: bold;
}

#timeRemainingContainer {
  visibility: hidden;
}

#conferenceIsNowContainer,
#timeUpContainer {
  display: none;
}

.timeRemainingContainer,
.conferenceIsNowContainer,
.timeUpContainer {
  opacity: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: .8rem;
  padding: 15px 30px;
  margin-bottom: 10px;
  color: #e0e0e0;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  position: relative;
}

.timeRemainingContainer > h1,
.conferenceIsNowContainer > h1,
.timeUpContainer > h1 {
  font-size: 1.4em;
}

.conferenceIsNowContainer > p,
.timeUpContainer > p {
  font-weight: normal;
  color: #FFF;
  font-style: italic;
}

.timeRemainingContainer a,
.conferenceIsNowContainer a,
.timeUpContainer a {
  color: #FFF;
  -webkit-transition: color 175ms ease-in-out;
  transition: color 175ms ease-in-out;
}

.timeRemainingContainer a:hover,
.conferenceIsNowContainer a:hover,
.timeUpContainer a:hover {
  color: #008ecf;
}

.rNum {
  font-size: 2.6rem;
  margin: 5px;
  color: #00eeff;
}

.rNum:first-child {
  margin-left: 0;
}

#timeRemaining:first-child {
  margin-left: 0;
}

.timeRemainingContainer > p {
  font-size: 1em;
}

#timeRemaining {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: first baseline;
      -ms-flex-align: first baseline;
          align-items: first baseline;
}

.numElements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.numElement {
  border: 1px solid #c7c7c7;
  margin: 5px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.numElement:hover {
  background-color: #e7e7e7;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.numElement > .number {
  font-size: 50px;
  color: #002a61;
  font-weight: bold;
}

.numElement > .number:hover {
  color: #004299;
  -webkit-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

.numElement > .inNumbersTitle {
  text-transform: uppercase;
  font-size: .9rem;
}

#conferenceInNumbers {
  color: #3f3f3f;
  background-color: #FFF;
  text-align: center;
  max-width: 1260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.welcomeScreen {
  min-height: calc(100vh - 40px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 20px;
  background-image: url(/img/background.png);
}

#welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#welcome .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

#welcome > div {
  max-width: 1260px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.welcomeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.categoriesInfoContainer {
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px 30px;
  margin-bottom: 10px;
}

.categoriesInfoContainer > h1 {
  font-size: 1.2em;
  line-height: 1.2;
  margin-bottom: 10px;
}

.categoriesInfoContainer > ul {
  font-size: .8em;
  list-style-type: disclosure-closed;
}

#welcome .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.competeActionContainer {
  padding: 25px 60px;
  background-color: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.competeActionContainer button {
  padding: 25px 60px;
  background-color: #20afc9;
  color: #f7f7f7;
  border: 4px solid #0030b4;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.4rem;
  -webkit-transition: background-color 170ms ease-in-out, border-color 170ms ease-in-out, background-image 170ms ease-in-out;
  transition: background-color 170ms ease-in-out, border-color 170ms ease-in-out, background-image 170ms ease-in-out;
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  background-image: url(/img/zig-blue.png);
}

.competeActionContainer button:hover {
  background-color: #008fc7;
  border-color: #003c81;
  background-image: none;
}

.competeActionContainer > a {
  margin-top: 10px;
  color: #eee;
  font-size: 1rem;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.competeActionContainer > a:hover {
  color: #FFF;
}

#aboutConference {
  background-color: #FFF;
  color: #3f3f3f;
  text-align: center;
  padding: 60px 0px;
}

#aboutConference p {
  padding: 10px;
  font-size: 1.2rem;
}

#organiser {
  background: #370153;
  background: linear-gradient(130deg, #005b80 0%, #0000a1 52%, #008cff 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#scientificBoard {
  background: #370153;
  background: linear-gradient(130deg, #370153 0%, #0000a1 52%, #00d4ff 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#scientificBoard .personTitle {
  font-style: italic;
  font-size: .8em;
}

.board .name {
  position: relative;
}

.person .name:after {
  position: absolute;
  content: '';
  height: 2px;
  bottom: -2px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 50px;
  background: #008ecf;
  -webkit-transition: width 350ms ease-in;
  transition: width 350ms ease-in;
}

.person:hover p.name:after {
  width: 100%;
}

.academy {
  margin-top: 10px;
  font-size: .7em;
  text-transform: uppercase;
  font-weight: bold;
}

.board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(100% / 6 - 20px);
          flex: 1 0 calc(100% / 6 - 20px);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 10px;
  padding: 10px;
  background-color: rgba(0, 23, 65, 0.8);
  border: 2px solid #008ecf;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
  min-height: 140px;
}

.person:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

section#aboutUsInMedia {
  background-color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #585858;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutUsInMediaContainer > .title {
  text-align: center;
}

.aboutUsInMediaContainer {
  max-width: 1260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.aboutIMElements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.aboutIMElement {
  position: relative;
  background-color: #FFF;
  color: #858585;
  z-index: 1;
  padding: 15px;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0px 50px 30px;
  min-height: 350px;
  min-width: 200px;
  max-width: 240px;
}

.aboutIMElement:nth-child(odd) {
  background-color: #FFE53B;
  background-image: linear-gradient(315deg, #FFE53B 0%, #FF2525 74%);
}

.aboutIMElement:nth-child(even) {
  background-color: #4158D0;
  background-image: linear-gradient(135deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.aboutIMElement h2 {
  font-weight: bold;
  font-size: 1.1rem;
  padding: 5px;
  color: #FFF;
  position: relative;
  z-index: 2;
}

.aboutIMElement > a {
  text-decoration: none;
}

.aboutIMElement p {
  position: relative;
  z-index: 1;
  font-size: .9rem;
  padding: 5px;
  color: #eeeeee;
}

.aboutIMElement button {
  position: absolute;
  bottom: 15px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding: 5px 15px;
  border-radius: 100px;
  text-transform: uppercase;
  font-size: 1rem;
  border: 1px solid #FFF;
  color: #FFF;
  -webkit-transition: background-color 175ms ease-in-out, border-color 175ms ease-in, color 175ms ease-in, background-image 175ms ease-in;
  transition: background-color 175ms ease-in-out, border-color 175ms ease-in, color 175ms ease-in, background-image 175ms ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #2f81b8 0%, #262ca1 100%);
}

.aboutIMElement a h2 {
  -webkit-transition: color 275ms ease-in-out;
  transition: color 275ms ease-in-out;
}

.aboutIMElement a:hover h2 {
  color: #7aafff;
}

.aboutIMElement button:hover {
  background-color: #008ecf;
  border-color: #FFF;
  color: #FFF;
  background-image: none;
}

.aboutIMElement button i {
  font-size: .7em;
  margin-left: 8px;
}

.aboutIMElement img {
  z-index: -1;
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: calc(100% + 4px);
  min-width: calc(100% + 4px);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-filter 200ms ease-in-out;
  transition: -webkit-filter 200ms ease-in-out;
  transition: filter 200ms ease-in-out;
  transition: filter 200ms ease-in-out, -webkit-filter 200ms ease-in-out;
}

.aboutIMElement:hover img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

section#partners {
  color: #3f3f3f;
  background-color: #FFF;
}

section#partners > .title {
  text-align: center;
}

section#partners h2 {
  text-align: center;
  font-size: .9rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
  -webkit-transition: color 200ms ease-out;
  transition: color 200ms ease-out;
}

ul.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 20px 0;
}

ul.partners::after {
  content: '';
  position: absolute;
  width: 300px;
  height: 2px;
  background-color: #004299;
  left: 0;
  right: 0;
  margin: 0px auto;
  bottom: 5px;
}

ul.partners > li {
  margin: 10px;
  height: 120px;
  /*min-width: 200px;
    max-width: 250px; */
  background-color: #FFF;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 250px;
          flex: 0 0 250px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 175ms ease-in, -webkit-filter 175ms ease-in-out, -webkit-transform 175ms ease-in-out;
  transition: opacity 175ms ease-in, -webkit-filter 175ms ease-in-out, -webkit-transform 175ms ease-in-out;
  transition: filter 175ms ease-in-out, opacity 175ms ease-in, transform 175ms ease-in-out;
  transition: filter 175ms ease-in-out, opacity 175ms ease-in, transform 175ms ease-in-out, -webkit-filter 175ms ease-in-out, -webkit-transform 175ms ease-in-out;
  -webkit-filter: grayscale(90%);
          filter: grayscale(90%);
  opacity: .6;
}

ul.partners > li::-moz-selection,
ul.partners > li img::-moz-selection,
ul.partners > li::-moz-selection,
ul.partners > li img::-moz-selection {
  background: none;
}

ul.partners > li::selection,
ul.partners > li img::selection,
ul.partners > li::-moz-selection,
ul.partners > li img::-moz-selection {
  background: none;
}

.partnersSection:hover > h2 {
  color: #004299;
}

ul.partners > li > img {
  max-width: 100%;
  max-height: 100%;
}

ul.partners > li:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  opacity: 1;
}

@media screen and (min-width: 1261px) {
  #welcome {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 1260px) {
  #welcome,
  .welcomeContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=homepage.css.map */