$blue: #008ecf;
$navyHeadings: rgb(0, 22, 121);
$navy: rgb(0, 18, 99);

$actionButtonBgColor: #20afc9;
$actionButtonColor: #f7f7f7;
$actionButtonBorderColor: #0030b4;
$actionAnchorColor: #eee;
$actionAnchorColorHover: #FFF;

$actionButtonBgColorHover: #008fc7;
$actionButtonBorderColorHover: #004faa;

$maxWidth: 1260px;

body {
  background-color: #FFF;
  background-image: url(/img/papyrus.png);
}

h1 {
  color: $navyHeadings;
}

h2 {
  color: $navyHeadings;
}

h3 {
  color: $navyHeadings;
}

h4 {
  color: $navyHeadings;
}

h5 {
  color: $navyHeadings;
}

h6 {
  color: $navyHeadings;
}

ol {
  list-style: inside number;
}

.bigTitle {
  width: 100%;
  text-align: center;
  background-color: $navy;
  background-image: url(/img/background.png);
  position: absolute;
  z-index: 0;
  top: 60px;
  overflow: hidden;
}

.bigTitle h1 {
  padding: 40px 0px 70px;
  margin: 0px auto;
  color: #FFF;
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
}

.bigTitle h1::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 70px;
  width: 100px;
  height: 2px;
  background-color: $blue;
  margin: 0px auto;
}  

section.information {
  position: relative;
  z-index: 1;
  top: 170px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: $maxWidth;
  margin: 0px auto;
  min-height: calc(100vh - 200px);
  border: 1px solid #e0e0e0;
  background-color: #FFF;
  border-radius: 50px 50px 0 0;
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
}

section.information > *:not(:last-child) {
  padding: 15px;
}

.information h3 {
  font-weight: bold;
  padding: 5px 0px;
  color: #004faa;
}

.information section {
  position: relative;
  margin-bottom: 40px;
}

.information section::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  width: 100%;
  height: 1px;
  background-color: #b1b1b1;
  margin: 0px auto;
}

.information a {
  color: #004faa;
  transition: color 175ms ease-in-out;
}

.information a:hover {
  color: #0030b4;
}

.informationContainer {
  display: flex;
  flex-direction: row;
  word-wrap: break-word;
}

.infLeft {
  flex: 7;
  padding: 10px;
}

.infRight {
  flex: 3;
  padding: 10px;
}

.buttonSection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.buttonSection button {
  padding: 15px 10px;
  background-color: $actionButtonBgColor;
  color: $actionButtonColor;
  border: 2px solid $actionButtonBorderColor;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .9rem;
  transition: background-color 170ms ease-in-out, border-color 170ms ease-in-out, background-image 170ms ease-in-out;
  text-shadow: 0px 3px 5px rgba(0,0,0,0.5);
  background-image: url(/img/zig-blue.png);
  width: 100%;
  margin-bottom: 10px;
}

.buttonSection button:hover {
  background-color: $actionButtonBgColorHover;
  border-color: $actionButtonBorderColorHover;
  background-image: none;
  color: #e4e4e4;
}

.paymentInfo {
  padding: 5px;
  background-color: #effbff;
  border: 2px solid $blue;
  margin: 5px 20px;
  color: #002472;
  font-size: .9rem;
}

.paymentInfo h4 {
  font-size: .9rem;
}

.paymentInfo span {
  font-weight: bold;
  font-size: 1.1em;
}

.extInfo {
  font-size: .8em;
}

@media screen and (max-width: 1260px) {
  .bigTitle {
    position: static;
  }

  section.information {
    border-radius: 0px;
    position: static;
    flex-wrap: unset;
  }

  .informationContainer {
    flex-direction: column-reverse;
  }

  .buttonSection {
    flex-direction: row;
    justify-content: space-around;
  }

  .buttonSection a {
    margin: 5px;
    flex: 1;
  }

  .buttonSection button {
    min-height: 75px;
    height: 100%;
  }

  .paymentInfo {
    margin: 5px 0px;
  }

  .infLeft,
  .infRight {
    padding: 5px 0px;
  }

}